@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<style>
    body {
        background-color: #fff;
        color: #000000;
    }

    .btn-register {
        background-color: #000000;
        color: #fff;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="~/images/SpiritLink.png" alt="Your Image" class="img-fluid rounded" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-3">@ViewData["Title"]</h2>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <!-- Form content goes here -->
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-group">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="w-100 btn btn-register">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}